In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.908017  0.980693
1    a  two -0.895092  2.200858
2    b  one -1.041233 -0.112230
3    b  two  0.214681 -0.083126
4    a  one -0.484084  1.396678

In [3]:
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -2.287193  4.578229
b        onetwo -0.826552 -0.195356

In [4]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a    -2.287193  4.578229
b    -0.826552 -0.195356