In [6]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -1.065666
   2   -0.415145
   3    0.687119
b  1    0.298502
   2   -0.358133
c  3   -0.072845
   1    0.214167
d  2    0.056951
   3    0.021747
dtype: float64

In [8]:
df1 = data.unstack()
df1

          1         2         3
a -1.065666 -0.415145  0.687119
b  0.298502 -0.358133       NaN
c  0.214167       NaN -0.072845
d       NaN  0.056951  0.021747

In [9]:
df1.stack()

a  1   -1.065666
   2   -0.415145
   3    0.687119
b  1    0.298502
   2   -0.358133
c  1    0.214167
   3   -0.072845
d  2    0.056951
   3    0.021747
dtype: float64