In [3]:
import os
current_dir = os.getcwd()
csv_dir = os.path.join(current_dir,'每日各站進出站人數')
files_and_dirs = os.listdir(csv_dir)
files_and_dirs

['每日各站進出站人數2022.csv',
 '每日各站進出站人數2023.csv',
 '每日各站進出站人數20190423-20191231.csv',
 '每日各站進出站人數2021.csv',
 'manifest.csv',
 '每日各站進出站人數2020.csv',
 'schema.csv']

In [5]:
for filename in files_and_dirs:
    if '每日各站進出站人數' in filename:
        print(filename)

每日各站進出站人數2022.csv
每日各站進出站人數2023.csv
每日各站進出站人數20190423-20191231.csv
每日各站進出站人數2021.csv
每日各站進出站人數2020.csv

In [8]:
all_csv_files = [filename for filename in files_and_dirs if '每日各站進出站人數' in filename]

In [10]:
sorted_csv_files = sorted(all_csv_files)

In [18]:
import pandas as pd
import json

def parse_data(filename):
    print(filename)
    df1 = pd.read_csv(filename)
    df2 = df1.rename(columns={"trnOpDate":"乘車日",
            "staCode":"車站代碼",
            "gateInComingCnt":"進站人數",
            "gateOutGoingCnt":"出站人數"})
    with open('車站基本資料集.json',encoding='utf-8') as file:
        json_data = json.load(file)
        stations_info = pd.DataFrame(json_data,columns=['stationCode','stationName'])
        stations_info = stations_info.astype({'stationCode':'int32'})
        stations_info.info()
    df3 = pd.merge(df2,stations_info,left_on='車站代碼',right_on='stationCode')
    df4 = df3.rename(columns={'stationName':'車站名稱'})
    df5 = df4.reindex(columns=['乘車日','車站名稱','進站人數','出站人數'])
    df5['乘車日'] = pd.to_datetime(df5['乘車日'].astype(str))
    return df5
    

    

for filename in sorted_csv_files:
    abs_filename = os.path.join(csv_dir,filename)
    display(parse_data(abs_filename))

/workspaces/__2024_07_29_1_3_night__/lesson19/每日各站進出站人數/每日各站進出站人數20190423-20191231.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationCode  243 non-null    int32
 1   stationName  243 non-null    object
dtypes: int32(1), object(1)
memory usage: 3.0+ KB

             乘車日 車站名稱  進站人數  出站人數
0     2019-04-23   基隆  8442  7743
1     2019-04-23   三坑  1394  1348
2     2019-04-23   八堵  2770  2423
3     2019-04-23   七堵  6113  6335
4     2019-04-23   百福  2680  2726
...          ...  ...   ...   ...
60124 2019-12-31   瑞芳  5779  5782
60125 2019-12-31  海科館   146   142
60126 2019-12-31  八斗子   116   134
60127 2019-12-31  四腳亭   654   585
60128 2019-12-31   暖暖   448   396

[60129 rows x 4 columns]

/workspaces/__2024_07_29_1_3_night__/lesson19/每日各站進出站人數/每日各站進出站人數2020.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationCode  243 non-null    int32
 1   stationName  243 non-null    object
dtypes: int32(1), object(1)
memory usage: 3.0+ KB

             乘車日 車站名稱  進站人數  出站人數
0     2020-01-01   基隆  7552  8154
1     2020-01-01   三坑  1020  1135
2     2020-01-01   八堵  1623  1972
3     2020-01-01   七堵  4130  4813
4     2020-01-01   百福  1818  2128
...          ...  ...   ...   ...
86927 2020-12-31   瑞芳  3523  3602
86928 2020-12-31  海科館     3    18
86929 2020-12-31  八斗子    28    34
86930 2020-12-31  四腳亭   609   604
86931 2020-12-31   暖暖   377   444

[86932 rows x 4 columns]

/workspaces/__2024_07_29_1_3_night__/lesson19/每日各站進出站人數/每日各站進出站人數2021.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationCode  243 non-null    int32
 1   stationName  243 non-null    object
dtypes: int32(1), object(1)
memory usage: 3.0+ KB

             乘車日 車站名稱  進站人數  出站人數
0     2021-01-01   基隆  7223  7425
1     2021-01-01   三坑   972  1100
2     2021-01-01   八堵  1505  1698
3     2021-01-01   七堵  4385  4657
4     2021-01-01   百福  1785  1967
...          ...  ...   ...   ...
86534 2021-12-31   瑞芳  4062  4451
86535 2021-12-31  海科館    87   104
86536 2021-12-31  八斗子   341   403
86537 2021-12-31  四腳亭   534   481
86538 2021-12-31   暖暖   383   389

[86539 rows x 4 columns]

/workspaces/__2024_07_29_1_3_night__/lesson19/每日各站進出站人數/每日各站進出站人數2022.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationCode  243 non-null    int32
 1   stationName  243 non-null    object
dtypes: int32(1), object(1)
memory usage: 3.0+ KB

             乘車日 車站名稱  進站人數  出站人數
0     2022-01-01   基隆  8645  8526
1     2022-01-01   三坑   996  1243
2     2022-01-01   八堵  1369  1711
3     2022-01-01   七堵  3663  4535
4     2022-01-01   百福  1532  1845
...          ...  ...   ...   ...
86547 2022-12-31   瑞芳  3984  3893
86548 2022-12-31  海科館    92   115
86549 2022-12-31  八斗子   131   159
86550 2022-12-31  四腳亭   494   426
86551 2022-12-31   暖暖   313   274

[86552 rows x 4 columns]

/workspaces/__2024_07_29_1_3_night__/lesson19/每日各站進出站人數/每日各站進出站人數2023.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stationCode  243 non-null    int32
 1   stationName  243 non-null    object
dtypes: int32(1), object(1)
memory usage: 3.0+ KB

             乘車日 車站名稱  進站人數  出站人數
0     2023-01-01   基隆  8030  8241
1     2023-01-01   三坑  1017  1326
2     2023-01-01   八堵  1400  1705
3     2023-01-01   七堵  3558  4398
4     2023-01-01   百福  1509  1815
...          ...  ...   ...   ...
86604 2023-12-31   瑞芳  7916  8252
86605 2023-12-31  海科館   164   195
86606 2023-12-31  八斗子   652   720
86607 2023-12-31  四腳亭  1526   656
86608 2023-12-31   暖暖   576   447

[86609 rows x 4 columns]