In [ ]:
import pandas as pd

df = pd.read_csv('students.csv',index_col=0)
df

In [ ]:
#選取欄位
df['國文']

In [ ]:
#選取多欄位
df[['國文','英文','數學']]

In [ ]:
#陣列運算
#建立新欄位
sum = df['國文'] + df['英文'] + df['數學'] + df['地理'] + df['探索']
average = sum / 5
df['總分'] = sum
df['平均'] = average
df

In [15]:
df.loc['杜明延',:]

國文     51.0
英文     90.0
數學     68.0
地理     61.0
探索     68.0
總分    338.0
平均     67.6
Name: 杜明延, dtype: float64

In [16]:
df.iloc[:5,:]

     國文  英文  數學  地理  探索   總分    平均
杜明延  51  90  68  61  68  338  67.6
吳晴洋  77  56  74  76  86  369  73.8
林志喜  61  52  78  79  83  353  70.6
林佳慧  75  98  56  63  62  354  70.8
余丞苓  71  96  54  52  65  338  67.6