In [2]:
#排序和排名
#sort_index()
#sort_values()
#rank()

import pandas as pd

series1 = pd.Series(range(4),index=['d','a','b','c'])
series1.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [5]:
import numpy as np
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                    index = ['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame.sort_index(axis=1,ascending=True)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [7]:
frame.sort_values(axis=1,by='three')

       d  a  b  c
three  0  1  2  3
one    4  5  6  7