In [2]:
#排序和排名
#sort_index()
#sort_values()
#rank()

import pandas as pd

series1 = pd.Series(range(4),index=['d','a','b','c'])
series1.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [5]:
import numpy as np
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                    index = ['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame.sort_index(axis=1,ascending=True)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [7]:
frame.sort_values(axis=1,by='three')

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [12]:
series1 = pd.Series([7, -5, 7, 4, 2, 0, 4])
display(series1)
series1.rank(method='first',ascending=False)

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

0    1.0
1    7.0
2    2.0
3    3.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [15]:
series1.rank(method='min',ascending=False)

0    1.0
1    7.0
2    1.0
3    3.0
4    5.0
5    6.0
6    3.0
dtype: float64