In [ ]:
import pandas as pd
df = pd.read_csv('world.csv')
df

In [ ]:
df.info()

In [ ]:
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df1

In [ ]:
#依據值的搜尋
#亞洲
df1[df1['洲名'] == '亞洲']

In [ ]:
#依據值的搜尋
#台灣

df_tw = df1[df1['國家'] == '台灣']
df_tw

In [8]:
display(df_tw)

        洲名  國家          日期     總確診數  新增確診數      總人口數
163986  亞洲  台灣  2020-01-16        0      0  23855008
163987  亞洲  台灣  2020-01-17        0      0  23855008
163988  亞洲  台灣  2020-01-18        0      0  23855008
163989  亞洲  台灣  2020-01-19        0      0  23855008
163990  亞洲  台灣  2020-01-20        0      0  23855008
...     ..  ..         ...      ...    ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008

[903 rows x 6 columns]

In [11]:
df_tw['日期'] >= '2021-01-01'
df_tw['日期'] < '2022-01-01'

163986     True
163987     True
163988     True
163989     True
163990     True
          ...
164884    False
164885    False
164886    False
164887    False
164888    False
Name: 日期, Length: 903, dtype: bool

In [12]:
df_tw[(df_tw['日期'] >= '2021-01-01') &  (df_tw['日期'] < '2022-01-01')]

        洲名  國家          日期   總確診數  新增確診數      總人口數
164337  亞洲  台灣  2021-01-01    802      3  23855008
164338  亞洲  台灣  2021-01-02    808      6  23855008
164339  亞洲  台灣  2021-01-03    812      4  23855008
164340  亞洲  台灣  2021-01-04    815      3  23855008
164341  亞洲  台灣  2021-01-05    817      2  23855008
...     ..  ..         ...    ...    ...       ...
164697  亞洲  台灣  2021-12-27  16931     16  23855008
164698  亞洲  台灣  2021-12-28  16950     19  23855008
164699  亞洲  台灣  2021-12-29  16964     14  23855008
164700  亞洲  台灣  2021-12-30  16988     24  23855008
164701  亞洲  台灣  2021-12-31  17029     41  23855008

[365 rows x 6 columns]