In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(9).reshape(3, 3),
                    index=['a', 'c', 'd'],
                    columns=['台北', '台中', '高雄'])
df

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [5]:
#使用DataFrame.reindex()
display(df.reindex(labels=['a','c'],axis=0))
display(df.reindex(labels=['台北','高雄'],axis=1))

   台北  台中  高雄
a   0   1   2
c   3   4   5

   台北  高雄
a   0   2
c   3   5
d   6   8