In [ ]:
import pandas as pd
df = pd.read_csv('world.csv')
df

In [ ]:
df.info()

In [ ]:
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df1

In [ ]:
#依據值的搜尋
#亞洲
df1[df1['洲名'] == '亞洲']

In [ ]:
#依據值的搜尋
#台灣

df_tw = df1[df1['國家'] == '台灣']
df_tw

In [8]:
display(df_tw)

        洲名  國家          日期     總確診數  新增確診數      總人口數
163986  亞洲  台灣  2020-01-16        0      0  23855008
163987  亞洲  台灣  2020-01-17        0      0  23855008
163988  亞洲  台灣  2020-01-18        0      0  23855008
163989  亞洲  台灣  2020-01-19        0      0  23855008
163990  亞洲  台灣  2020-01-20        0      0  23855008
...     ..  ..         ...      ...    ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008

[903 rows x 6 columns]

In [11]:
df_tw['日期'] >= '2021-01-01'
df_tw['日期'] < '2022-01-01'

163986     True
163987     True
163988     True
163989     True
163990     True
          ...
164884    False
164885    False
164886    False
164887    False
164888    False
Name: 日期, Length: 903, dtype: bool

In [13]:
df_tw_2021 = df_tw[(df_tw['日期'] >= '2021-01-01') &  (df_tw['日期'] < '2022-01-01')]
df_tw_2021

        洲名  國家          日期   總確診數  新增確診數      總人口數
164337  亞洲  台灣  2021-01-01    802      3  23855008
164338  亞洲  台灣  2021-01-02    808      6  23855008
164339  亞洲  台灣  2021-01-03    812      4  23855008
164340  亞洲  台灣  2021-01-04    815      3  23855008
164341  亞洲  台灣  2021-01-05    817      2  23855008
...     ..  ..         ...    ...    ...       ...
164697  亞洲  台灣  2021-12-27  16931     16  23855008
164698  亞洲  台灣  2021-12-28  16950     19  23855008
164699  亞洲  台灣  2021-12-29  16964     14  23855008
164700  亞洲  台灣  2021-12-30  16988     24  23855008
164701  亞洲  台灣  2021-12-31  17029     41  23855008

[365 rows x 6 columns]

In [17]:
df_tw_2021[df_tw_2021['新增確診數'] >= 100]

        洲名  國家          日期   總確診數  新增確診數      總人口數
164471  亞洲  台灣  2021-05-15   1475    185  23855008
164472  亞洲  台灣  2021-05-16   1682    207  23855008
164473  亞洲  台灣  2021-05-17   2017    335  23855008
164474  亞洲  台灣  2021-05-18   2260    243  23855008
164475  亞洲  台灣  2021-05-19   2533    273  23855008
164476  亞洲  台灣  2021-05-20   2825    292  23855008
164477  亞洲  台灣  2021-05-21   3139    314  23855008
164478  亞洲  台灣  2021-05-22   3862    723  23855008
164479  亞洲  台灣  2021-05-23   4322    460  23855008
164480  亞洲  台灣  2021-05-24   4917    595  23855008
164481  亞洲  台灣  2021-05-25   5456    539  23855008
164482  亞洲  台灣  2021-05-26   6091    635  23855008
164483  亞洲  台灣  2021-05-27   6761    670  23855008
164484  亞洲  台灣  2021-05-28   7315    554  23855008
164485  亞洲  台灣  2021-05-29   7806    491  23855008
164486  亞洲  台灣  2021-05-30   8160    354  23855008
164487  亞洲  台灣  2021-05-31   8511    351  23855008
164488  亞洲  台灣  2021-06-01   8842    331  23855008
164489  亞洲  台灣  2021-06-02   9389    547  23855008
164490  亞洲  台灣  2021-06-03   9974    585  23855008
164491  亞洲  台灣  2021-06-04  10446    472  23855008
164492  亞洲  台灣  2021-06-05  10956    510  23855008
164493  亞洲  台灣  2021-06-06  11298    342  23855008
164494  亞洲  台灣  2021-06-07  11491    193  23855008
164495  亞洲  台灣  2021-06-08  11694    203  23855008
164496  亞洲  台灣  2021-06-09  11968    274  23855008
164497  亞洲  台灣  2021-06-10  12222    254  23855008
164498  亞洲  台灣  2021-06-11  12500    278  23855008
164499  亞洲  台灣  2021-06-12  12746    246  23855008
164500  亞洲  台灣  2021-06-13  12921    175  23855008
164501  亞洲  台灣  2021-06-14  13106    185  23855008
164502  亞洲  台灣  2021-06-15  13241    135  23855008
164503  亞洲  台灣  2021-06-16  13409    168  23855008
164504  亞洲  台灣  2021-06-17  13584    175  23855008
164505  亞洲  台灣  2021-06-18  13771    187  23855008
164506  亞洲  台灣  2021-06-19  13896    125  23855008
164507  亞洲  台灣  2021-06-20  14005    109  23855008
164510  亞洲  台灣  2021-06-23  14260    103  23855008
164511  亞洲  台灣  2021-06-24  14389    129  23855008

In [19]:
df_tw[df_tw['新增確診數'] >= 10000]

        洲名  國家          日期     總確診數  新增確診數      總人口數
164819  亞洲  台灣  2022-04-28    88446  11508  23855008
164820  亞洲  台灣  2022-04-29   100753  12307  23855008
164821  亞洲  台灣  2022-04-30   115883  15130  23855008
164822  亞洲  台灣  2022-05-01   132955  17072  23855008
164824  亞洲  台灣  2022-05-03   173942  40987  23855008
...     ..  ..         ...      ...    ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008

[66 rows x 6 columns]