In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.013609  0.160051  0.585623
台中 -0.178306  1.073522 -0.236725
台南 -1.586201  1.680854 -0.128379
高雄  0.585126  0.533521 -1.437169

In [2]:
def formap(value):
    return f'{value:.3f}%'

frame.map(formap)

          b       d        e
台北   0.014%  0.160%   0.586%
台中  -0.178%  1.074%  -0.237%
台南  -1.586%  1.681%  -0.128%
高雄   0.585%  0.534%  -1.437%